body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

 #question-box {
  margin-top: 1rem;
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}
